@media screen and (max-width: 1800px){
    .show-large{
        display: none;
    }
    .show-small{
        display: flex;
    }
}

@media screen and (min-width: 1800px){
    .show-small{
        display: none;
    }
    .show-large{
        display: flex;
    }
}
