.footer-main{
    background-color: rgb(38, 38, 51);
    height: 10vh;
    padding: 1vh 0;
    justify-content: center;
    text-align: center;
    font-weight: small;
    color: white;
    outline: 2px solid white;
    z-index: 20;
}

.footer-main a {
    text-decoration: underline;
    color: gray;
}

.footer-main a:visited {
    text-decoration: none;
}