.home-main{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.home-main body{
    width: 100%;
    height: 93vh;
    background-color: rgb(32, 35, 48);
}

.prompt-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.prompt-main path:nth-child(2){
    stroke-dasharray: 481px;
    stroke-dashoffset: 481px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(3){
    stroke-dasharray: 398px;
    stroke-dashoffset: 398px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(4){
    stroke-dasharray: 321px;
    stroke-dashoffset: 321px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(5){
    stroke-dasharray: 226px;
    stroke-dashoffset: 226px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(6){
    stroke-dasharray: 498px;
    stroke-dashoffset: 498px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(7){
    stroke-dasharray: 90px;
    stroke-dashoffset: 90px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(8){
    stroke-dasharray: 285px;
    stroke-dashoffset: 285px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(9){
    stroke-dasharray: 489px;
    stroke-dashoffset: 489px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(10){
    stroke-dasharray: 364px;
    stroke-dashoffset: 364px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(11){
    stroke-dasharray: 233px;
    stroke-dashoffset: 233px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(12){
    stroke-dasharray: 452px;
    stroke-dashoffset: 452px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(13){
    stroke-dasharray: 365px;
    stroke-dashoffset: 365px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(14){
    stroke-dasharray: 458px;
    stroke-dashoffset: 458px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(15){
    stroke-dasharray: 438px;
    stroke-dashoffset: 438px;
    animation: line-anim 2s ease forwards;
}
.prompt-main path:nth-child(16){
    stroke-dasharray: 233px;
    stroke-dashoffset: 233px;
    animation: line-anim 2s ease forwards;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

.start-main{
    z-index: 5;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0062ff;
    padding: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    cursor: pointer;
    border-radius: 50px;
}

.start-main:hover{
    background: #3f89ff;
    transition: all 0.2s ease-out;
}

.start-text{
    z-index: 5;
    color: white;
}

.background-main{
    width: 100%;
    top: 0%;
    overflow: hidden;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    
    left: 50%;
    z-index: 200;
    transform: rotate(90deg);
}

.right-one{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(225deg);
    top: 69%;
}

.final-main-prompt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -47%);
    transition: all 0.2s ease-in;
}

.final-main-prompt-hidden{
    display: none;
    transition: all 0.2s ease-in;
}

