.database-main h5{
    text-align: center;
    padding-bottom: 20px;
}


.country-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    margin-left: auto;
    margin-right: auto;
}

.country-table thead tr{
    background-color: rgb(91, 77, 110);
    color: white;
    text-align: left;
    font-weight: bold;

}

.country-table th,
.country-table td {
    padding: 12px 15px;
    text-align: center;
}

.country-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.country-table tbody tr:nth-of-type(even){
    background-color: lightgray;
}

.country-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(91, 77, 110);
}


.top-button{
    background-color: rgb(91, 77, 110);
    margin: auto;
    width: 10%;
    padding-top: 15px;
    bottom: 1vh;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
}

.top-button-text {
    justify-content: center;
    align-items: center;
    color: lightgray;
}

.top-button:hover{
    background-color: rgb(95, 84, 109);
    cursor: pointer;
}